.dashboard{
    /* border: 1px solid red; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin: 0; */
}

.dashboardheaders{
    /* border: 1px solid red; */
    height: 12%;
    width: 100%;
}

.dashdata{
    /* border: 1px solid red; */
    height: 88%;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    top: 30px;
    /* margin: auto; */
    margin-left: 300px;
    /* padding-left: 300px; */
    /* left: 300px; */
    /* justify-content: space-around; */
}

.dashsave{
    /* border: 1px solid red; */
    /* min-height: 7vh; */
    /* max-width: 20vh; */
    width: 70%;
    /* height: 25%; */
    /* flex-grow: 1; */
    position: relative;
    left: 150px;
}

.displayNotes{
    /* border: 1px solid red; */
    width: 70vw;
    /* height: 75%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 3rem; */
    flex-wrap: wrap;
    row-gap: 15px;
   
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .dashdata{
        margin-left: 60px;
        width: 84%;
    }

    .dashsave{
        position: relative;
        left: 0px;
    }

    #note{
        width: 50%;
    }

    .displayNotes{
        width: 81vw;   
    }
}

@media screen and (min-width: 481px) and (max-width: 860px){
    .dashdata{
        /* margin: 0; */
        margin-left: 100px;
        width: 81vw;
        /* gap: 1rem; */
        position: relative;
        top: 0px;
    }

    .dashsave{
        position: relative;
        left: 0px;
    }

    .displayNotes{
        /* width: 81vw;   */
        /* padding-right: 30px;  */
        margin-left: 50px;
    }
}